.message {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 24px;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
}

.imageAndText img {
  width: 48px;
  height: 48px;
  align-self: flex-end;
}

.text {
  box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),
    0px 5px 20px 0px rgba(29, 33, 38, 0.03);
  background-color: rgba(0, 102, 204, 1);
  max-width: 527px;
  min-width: 100px;
  padding: 7px 15px;
  border-radius: 10px 10px 0 10px;
  margin-left: auto;
  margin-right: 10px;
  position: relative;
}

.text:after {
  content: "";
  position: absolute;
  right: -15px; /* Позиционируем справа снаружи */
  bottom: -2px; /* Прижимаем к низу */
  width: 35px;
  height: 20px;
  background-color: rgba(0, 102, 204, 1);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  transform: translateX(-4px) translateY(-2px);
}

.name {
  display: block;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.messageText {
  width: 100%;
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

  /* text-align: start; */
}

.time {
  width: 48px;
  align-self: flex-end;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  /* margin-right: 10px;*/
  margin-top: 5px;
}
