.sidebar {
  display: none;
}

.sidebar.open {
  display: block;
  width: 317px;
  height: 100vh;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;

  z-index: 9999999999999999;
}

.background {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;

  z-index: 999999999999999;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  margin-left: 70px;
  margin-top: 23px;
}

.nav a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 22px;
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  color: #58acff;
}

.nav a.active {
  color: #0059b2;
  text-decoration: underline;
}
.close {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  margin-top: 16px;
  align-self: flex-end;
  cursor: pointer;
}

.close img {
  object-fit: cover;
}
