.input:focus {
  border: 2px solid #757575;
}

.input {
  width: 372px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #757575;
}

.inputWrapper {
  color: red;
  position: relative;
}

.superInput {
  border: 1px solid #112d8b;
}

.errorInput {
  border-color: red;
}

.errorInput:focus {
  border-color: red;
}

.error {
  border-color: red;
  position: absolute;
  left: 0;
  top: -20px;
}
