.spanBlock {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;

  display: flex;
  align-items: center;
  gap: 15px;
}

.span {
  color: #0080ff;
}

.input {
  width: 100%;
  height: 36px;
  padding: 8px 24px;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
}

.pen {
  width: 24px;
  height: 24px;
}
