.App {
  --header_height: 60px;
  margin: 100px 0 100px;
}

.container {
  max-width: 1280px;
  width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 70px auto 0;

  position: relative;
}

.hw {
  min-height: 0;
  height: 100%;
  padding: 20px 70px 130px;
  outline: 1px solid rgba(217, 217, 217, 1);
  background-color: rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.hwTitle {
  font-size: 22px;
  margin-left: 70px;
  margin-bottom: 10px;
  font-weight: 600;
}
