.friendMessage {
  display: flex;
  flex-direction: column;
  justify-content: start;

  margin-bottom: 24px;
}

.friendImageAndText {
  display: flex;
  color: #222;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
  align-self: flex-end;
}

.friendText {
  box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),
    0px 5px 20px 0px rgba(29, 33, 38, 0.1);
  background-color: rgba(245, 247, 251, 1);
  max-width: 527px;
  min-width: 100px;
  padding: 7px 15px;
  border-radius: 10px 10px 10px 0;
  margin-right: auto;
  margin-left: 10px;
  position: relative;
  /* z-index: 999999; */
}

.friendText::before {
  content: "";
  position: absolute;
  left: -14px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 15px solid rgba(245, 247, 251, 1);
  filter: drop-shadow(-8px 4px 8px rgba(0, 0, 0, 0.5));
}

.friendName {
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.friendMessageText {
  width: 100%;
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.friendTime {
  font-size: 10px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 5px;
}
