.greetingForm {
  height: 100px;
}

.inputAndButtonContainer {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.error {
  color: red;
}

.input {
  width: 372px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.input:focus {
  outline-color: rgba(0, 0, 255, 0.5);
}

.errorInput {
  border-color: red;
}

.button {
  width: 78px;
  height: 36px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button:focus {
}

.button:active {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.5;
  cursor: none;
}

.text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #00000080;
}

.greeting {
}
