.sendForm {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  gap: 44px;
}

.textarea {
  min-width: 976px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  resize: none;
  overflow: hidden;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(245, 247, 251, 1);

  font-family: "Montserrat", sans-serif;

  box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),
    0px 5px 20px 0px rgba(29, 33, 38, 0.03);
}

.button {
  min-width: 120px;
  width: 100%;
  height: 40px;
  border: none;
  background-color: rgba(0, 102, 204, 1);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 102, 204, 0.5);
}
.button:active {
  background-color: rgba(0, 102, 204, 0.5);
}
