.burgerMenuIcon {
  width: 24px;
  height: 23px;
  cursor: pointer;
}

.header {
  padding: 15px 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  z-index: 99999999;

  box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),
    0px 5px 20px 0px rgba(29, 33, 38, 0.1);
}

.header h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
}
